<?php

use Motivast\WP_CLI\Seed\AbstractSeeder;

class DummyClass extends AbstractSeeder
{
    /**
     * Run the database seeds.
     *
     * @return void
     */
    public function run()
    {
        //
    }
}